# Not sharing maps and pubs for copyrights reasons
data/maps
data/pub

# Build and executable stuff
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
*-pch.h*
eoserv

# Log files
*.log

# Credentials files
credentials.txt
